1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [ ]:
#ex 1
l=[]
for i in range(1, 101):
    if i%3 == 0 and i%5==0:
        l.append("MickeyMouse")
    elif i%3==0:
        l.append("Mickey")
    elif i%5==0:
        l.append("Mouse")
    else:
        l.append(i)
print("Here are the results",l)

for i in range(0,100):
    if l[i]=="Mickey":
        l[i]="Donald"
    elif l[i]=="Mouse":
        l[i]="Duck"

t = tuple(l)
print("Here are the results in tuple",t)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [ ]:
def swap(a,b):
    a = str(a)
    b = str(b)
    a = a + b
    b = a[0:(len(a) -len(b))]
    a = a[len(b):]
    print(a,b)
    
    
    
x = 1
y = "Ciao"

swap(x,y)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
def distance(u,v):
    
    a = list(u)
    b = list(v)
    d = ((a[0] - b[0])**2 + ((a[1] - b[1])**2))**(1/2)
    return d
distance((5,0),(6,0))

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
freq = {}
  
for i in s:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
  

print (str(freq))

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [1]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
a=0

for i in range(len(l)-1):
    if l[i]!= l[i+1]:
        print(l[i])
        a +=1
    else: 
        continue
        
        
print("The number of unique numbers is", a)

36
45
58
3
74
96
64
45
31
10
24
19
33
86
99
18
63
70
85
63
47
56
42
70
84
88
55
20
54
8
56
51
79
81
57
37
91
1
84
36
66
9
89
50
42
91
50
95
90
98
39
16
82
31
92
41
45
30
66
70
34
85
94
5
3
36
72
91
84
34
87
75
53
51
20
89
51
The number of unique numbers is 77

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [ ]:
def square(a):
    a=a*a
    return a
def cube(a):
    a=a*a*a
    return a
def power_of_six(a):
    a = a* square(a) * cube(a)
    return a
print(power_of_six(2))

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [ ]:
l =[]
for k in range(10):
    l.append(k**3)
    
nl = [x**3 for x in range(10)]
print(l) 
print(nl)

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [ ]:
c = 0
m = 2
limit = 100
n = 1
temp_list=[a,b,c for i in range(1,m)]
 

while c < limit:
    for i in range(1, m) :
        a = m * m - n * n
        b = 2 * m * n
        c = m * m + n * n
        
        if c > limit:
            break
 
        temp_list.append(a)
        temp_list.append(b)
        temp_list.append(c)
        m = m + 1
        n = n +1
    
t= tuple(temp_list)
print(t)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [ ]:
l=[2,4,5,6,12,456,1,98,47,28]
nl=[0 for _ in range(len(l))]
biggest = max(l)
smallest = min(l)
for i in range(len(l)):
    print(i)
    nl[i]=(l[i]-smallest)/(biggest-smallest)