In [37]:
#1. The MickeyMouse problem

#a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

#b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

s=[]
i=1
while i<101:
    if (i%3==0) & (i%5!=0):
        print("Mickey")
        s=s+["Mickey"]
    elif (i%5==0) & (i%3!=0):
        print("Mouse")
        s=s+["Mouse"]
    elif (i%3==0) & (i%5==0):
        print("MickeyMouse")
        s=s+["MickeyMouse"]
    else:
        print(i)
        s=s+[i]
    i+=1 
    
j=1
while j<101:
    if (j%3==0) & (j%5!=0):
        s.remove(s[j-1])
        s.insert(j-1,"Donald")
    elif (j%5==0) & (j%3!=0):
        s.remove(s[j-1])
        s.insert(j-1,"Duck")
    elif (j%3==0) & (j%5==0):
        s.remove(s[j-1])
        s.insert(j-1,"DonaldDuck")
    j+=1     
t = ()
i=0
while i<100:
    w=s[i]
    t=t+(w,)
    i+=1
print(t)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

In [50]:
#2\. The swap function

#Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

def swap(a,b):
    c=a
    a=b
    b=c
    print("\nnew a is=",a,"\nnew b is=",b)
    
swap(input("set the a="),input("set the b=")) 

def swap1(a,b):
    b=a+b
    a=b-a
    b=b-b
    print("\nnew a is=",a,"\nnew b is=",b)
    
swap(input("\nset the a="),input("set the b="))

set the a=22
set the b=222

new a is= 222
new b is= 22

set the a=11
set the b=zz

new a is= zz
new b is= 11

In [48]:
#3\. Computing the distance

#Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

u = (int(input("set the value of u1=")),int(input("set the value of u2=")))
v = (int(input("set the value of v1=")),int(input("set the value of v2=")))
def my_function(a,b,c,d):
    result = ((a-c)**2 + (b-d)**2)**0.5
    return result

print("the euclidean distance between two points *u* and *v* is=",my_function(u[0],u[1],v[0],v[1]))

set the value of u1=22
set the value of u2=22
set the value of v1=222
set the value of v2=222
the euclidean distance between two points *u* and *v* is= 282.842712474619

In [ ]:
4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [8]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

list1="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 "
i=0
while i<26:
    a=s.count(list1[i])
    b=s.count(list1[i+25])
    print (list1[i],"=",b+a)
    i+=1
i=52
while i<63:
    a=s.count(list1[i])
    if i<62:
        print (list1[i],"=",a)
    else:
        print("spase=",a)
    i+=1

a = 7
b = 4
c = 4
d = 3
e = 22
f = 9
g = 2
h = 9
i = 14
j = 0
k = 2
l = 6
m = 8
n = 14
o = 13
p = 8
q = 0
r = 17
s = 9
t = 19
u = 9
v = 2
w = 1
x = 1
y = 2
z = 0
0 = 2
1 = 2
2 = 0
3 = 0
4 = 0
5 = 0
6 = 0
7 = 0
8 = 0
9 = 0
spase= 41

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [11]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
def detcount(l):
    count=[]
    det=[]
    det_unique=[]
    j=0
    while j<len(l):
        a=l.count(l[0])
        if l[0] not in det:
            count=count+[(l[0],a)]
            det.append(l[0])
        l.remove(l[0])     
    count.sort()
    det.sort()
    for i in range(len(det)):
        if count[i][1]==1:
            det_unique=det_unique+[det[i]]
    print ("the unique numbers are ->",det_unique,"\n\nand they are",len(det_unique), "numbers.")
detcount(l)

the unique numbers are -> [1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

and they are 37 numbers.

In [39]:
#6\. Combination of functions

#Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

def square(a):
    b=a**2
    return b
def cube(a):
    b=a**3
    return b
def six(a):
    b=cube(square(a))
    return b
c=int(input("enter a number:"))
print("its 6th power is:", six(c))

enter a number:1
its 6th power is: 1

In [7]:
#7\. Cubes

#Create a list of the cubes of x for x in *[0, 10]* using:

#a) a for loop

#b) a list comprehension

cubes=[]
for i in range(0,10):
    cubes=cubes+[i**3]
print(cubes)

print([x**3 for x in range(10)])

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [1]:
#8\. Nested list comprehension

#A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.
a=[(x,y,z) for x in range(1,101) for y in range(1,101) for z in range(1,101) if x**2+y**2==z**2 if x<y]
print(a)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

In [40]:
#9\. Normalization

#Write a function that takes a tuple of numbers and returns it with the entries normalized to one

def norm(a):
    a = a.replace('(', '')
    a = a.replace(')', '')
    a = a.split(",")
    b=()
    for i in range(len(a)):
        b=b+(float(a[i]),)
    n=()
    for i in range(len(b)):
        m=(b[i]-min(b))/(max(b)-min(b))
        n=n+(m,)
    print("the normalized tuple is=",n)
    
a=input("set your tuple=")
norm(a)

set your tuple=(2,35,-6,3.5,6.7)
the normalized tuple is= (0.0, 1.0, 0.0, 0.0, 0.0)