1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
mylist = []

for i in range(1, 100):
    if i in [x for x in range(1, 100) if x % 15 == 0]:
        print("Mickey Mouse")
        mylist.append("Mickey Mouse")
    elif i in [x for x in range(1, 100) if x % 3 == 0]:
        print("Mickey")
        mylist.append("Mickey")
    elif i in [x for x in range(1, 100) if x % 5 == 0]:
        print("Mouse")
        mylist.append("Mouse")
    else:
        print(i)
        mylist.append(i)
        
for i in mylist:
    if i == "Mickey":
        mylist.insert(mylist.index("Mickey"), "Donald")
        mylist.remove("Mickey")
    elif i == "Mouse":
        mylist.insert(mylist.index("Mouse"), "Duck")
        mylist.remove("Mouse")
    elif i == "Mickey Mouse":
        mylist.insert(mylist.index("Mickey Mouse"), "Donald Duck")
        mylist.remove("Mickey Mouse")
    else:
        i = i

Tuple = tuple(mylist)

print(Tuple)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
Mickey Mouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
Mickey Mouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
Mickey Mouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
Mickey Mouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
Mickey Mouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
Mickey Mouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'Donald Duck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'Donald Duck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'Donald Duck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'Donald Duck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'Donald Duck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'Donald Duck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
x = input("x = ")
y = input("y = ")

def swap(x, y):
    print("x = ", y)
    print("y = ", x)
    return

swap(x, y)

x = wow
y = ops
x =  ops
y =  wow

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [13]:
x1 = int(input("x1 = ")) #coordinates
y1 = int(input("y1 = "))

x2 = int(input("x2 = "))
y2 = int(input("y2 = "))

u = (x1, y1)
v = (x2, y2)

def dis(u, v):
    print(  ( (x2 - x1)**2 + (y2 - y1)**2)**0.5)
    return

dis(u, v)

x1 = 0
y1 = 3
x2 = 4
y2 = 0
5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [6]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

a = s.lower()
b = s.upper()

def counting(ch):
    if ch in a:
        print(ch, a.count(ch), sep=":")
    elif ch in b:
        print(ch, b.count(ch), sep=":")


counting(input("choose a charactor: "))

choose a charactor: M
M:12

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [7]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

found = []


def detective():
    for i in l:
        if i not in found:
            found.append(i)
            a = l.count(i)
            print("the count of", i,"is:", a)



detective()

the count of 36 is: 3
the count of 45 is: 3
the count of 58 is: 1
the count of 3 is: 2
the count of 74 is: 1
the count of 96 is: 1
the count of 64 is: 1
the count of 31 is: 2
the count of 10 is: 1
the count of 24 is: 1
the count of 19 is: 1
the count of 33 is: 1
the count of 86 is: 1
the count of 99 is: 1
the count of 18 is: 1
the count of 63 is: 2
the count of 70 is: 3
the count of 85 is: 3
the count of 47 is: 1
the count of 56 is: 2
the count of 42 is: 2
the count of 84 is: 4
the count of 88 is: 1
the count of 55 is: 1
the count of 20 is: 3
the count of 54 is: 1
the count of 8 is: 1
the count of 51 is: 3
the count of 79 is: 1
the count of 81 is: 1
the count of 57 is: 1
the count of 37 is: 1
the count of 91 is: 3
the count of 1 is: 1
the count of 66 is: 2
the count of 9 is: 1
the count of 89 is: 2
the count of 50 is: 2
the count of 95 is: 1
the count of 90 is: 1
the count of 98 is: 1
the count of 39 is: 1
the count of 16 is: 1
the count of 82 is: 1
the count of 92 is: 1
the count of 41 is: 1
the count of 30 is: 1
the count of 34 is: 2
the count of 94 is: 1
the count of 5 is: 1
the count of 72 is: 1
the count of 87 is: 1
the count of 75 is: 1
the count of 53 is: 1

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [8]:
def square(x):
    return x**2

def cube(y):
    return y**3


def powersix(z):
    a = square(z)
    b = cube(a)
    print(b)


powersix(int(input("input= ")))

input= 3
729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [9]:
# for loop
cubes = []
for x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    for i in range(1, 11):
        if i == x**3:
            cubes.append(i)


print(cubes)

[1, 8]

In [10]:
# list comprehension
cubes = [a for a in range(1, 11) if a**(1/3) in range(1, 11)]

print(cubes)

[1, 8]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [11]:
mylist = []

for x in range(1, 100):
    for y in range(1, 100):
        for z in range(1, 100):
            if x**2 + y**2 == z**2:
                littlelist = [x, y, z]
                littletuple = tuple(littlelist)
                mylist.append(littletuple)


mytuple = tuple(mylist)
print(mytuple)

((3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [12]:
def norm(x, y, z):
    a = (x**2 + y**2 + z**2)**0.5 #a is the length of the vector
    X = x/a
    Y = y/a
    Z = z/a
    return (X, Y, Z)

    
norm(3, 4, 0)

(0.6, 0.8, 0.0)