In [23]:
#1The MickeyMouse problem

#a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

#b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck
a=()
for i in range(1,101): 
        if i%3==0:
            if i%5==0:
                print("mickeymouse")
                m=("mickeymouse",)
                a=a+m
            else:
                print("Mickey")
                m=("Mickey",)
                a=a+m
        elif i%5==0:
            print("Mouse")
            m=("Mouse",)
            a=a+m
        else:
            print(i)
            m=(i,)
            a=a+m
b=list(a)
s=[]
for i in b:
    if str(i)=="Mickey":
        i="Donald"
        s.append(i)
    elif str(i)=="Mouse":
        i="Duck"
        s.append(i)
    else:
        s.append(i)
print(tuple(s))

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
mickeymouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
mickeymouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
mickeymouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
mickeymouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
mickeymouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
mickeymouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'mickeymouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'mickeymouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'mickeymouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'mickeymouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'mickeymouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'mickeymouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [1]:
def swap1 (i,j):
    m=i
    i=j
    j=m
    return(i,j)
i= input("set the value of i:")
j= input("set the value of j:")
print('\nnow i is=',swap1(i,j)[0], "and j is=" ,swap1(i,j)[1])

set the value of i:8
set the value of j:9

now i is= 9 and j is= 8

In [8]:
def swap2 (i,j):
    i=j
    j=i
    return(i,j)
i= input("set the value of i:")
j= input("set the value of j:")
print('\nnow i is=',swap2(i,j)[0], "and j is=" ,swap2(i,j)[1])

set the value of i:87yuh
set the value of j:908

now i is= 908 and j is= 908

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [15]:
def dist(x,y):
    z=(((x[0]-y[0])**2)+((x[1]-y[1])**2))**(1/2)
    return z
x1= int(input("set the x1:"))
x2= int(input("set the x2:"))
x=(x1,x2)
y1= int(input("set the y1:"))
y2= int(input("set the y2:"))
y=(y1,y2)
print("the distance between x and y is:",dist(x,y))

set the x1:1
set the x2:1
set the y1:3
set the y2:3
the distance between x and y is: 2.8284271247461903

## 4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [21]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

l=[]
s=s.lower()
for i in s:
    m=s.count(i)
    l.append((i,m))
l = list(set(l)) 
print(l)

[(' ', 41), ('g', 1), ('k', 2), ('b', 5), ('v', 2), ('a', 7), ('1', 2), ('w', 2), ('f', 10), ('u', 9), ('l', 6), ('p', 8), ('y', 2), ('d', 3), ('n', 10), ('c', 3), ('s', 9), ('o', 13), ('i', 14), ('.', 2), ('r', 17), ('t', 19), ('h', 9), ('e', 22), ('0', 2), ('m', 12)]

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [10]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
def countlist(l):
    ll=[]
    unique_list=[]
    for i in l:
        m=l.count(i)
        ll.append((i,m))
    ll = list(set(ll)) 
    for i in ll:
        if i[1]==1:
            unique_list.append(i[0])
    print("the unique numbers are:",unique_list, "\n\nthere are "+str(len(unique_list))+" unique numbers in the list")
countlist(l)

the unique numbers are: [47, 58, 5, 82, 16, 95, 64, 86, 18, 53, 55, 9, 99, 88, 75, 57, 33, 79, 90, 24, 81, 39, 72, 92, 37, 94, 74, 96, 19, 8, 98, 1, 41, 10, 30, 87, 54]

there are 37 unique numbers in the list

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [7]:
def p2(a):
    b=a**2
    return b
def p3(a):
    b=a**3
    return b
def p6(a):
    c=p3(p2(a))
    return c
a= int(input("set a number:"))
print(p6(a))

set a number:2
64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [11]:
l=range(10)
m1=[]
for x in l:
    m1.append(x**3)
print(m1)
m2=[x**3 for x in range(10)]
print(m2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [3]:
l=[(i,j,k) for i in range(1,100) for j in range(1,100) for k in range(1,100) if i**2+j**2==k**2 if i-j>0]
#print(l[5][2])

print((tuple(l)))

((4, 3, 5), (8, 6, 10), (12, 5, 13), (12, 9, 15), (15, 8, 17), (16, 12, 20), (20, 15, 25), (21, 20, 29), (24, 7, 25), (24, 10, 26), (24, 18, 30), (28, 21, 35), (30, 16, 34), (32, 24, 40), (35, 12, 37), (36, 15, 39), (36, 27, 45), (40, 9, 41), (40, 30, 50), (42, 40, 58), (44, 33, 55), (45, 24, 51), (45, 28, 53), (48, 14, 50), (48, 20, 52), (48, 36, 60), (52, 39, 65), (55, 48, 73), (56, 33, 65), (56, 42, 70), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (63, 16, 65), (63, 60, 87), (64, 48, 80), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [ ]:
def normal(t):
    t=(input("set a tuple:"))
    t=t.replace('(','')
    t=t.replace(')','')
    t=t.split(',')

    tt=[]
    for i in range(len(t)):
        tt.append(float(t[i]))

    maxi=max(tt)
    mini=min(tt)
    return [(x-mini)/(maxi-mini) for x in tt]


print(normal(t))