# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [2]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [3]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:", xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

In [3]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [4]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
print(type(d))
pd.Series(d)

<class 'dict'>

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [5]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s) #the sum depends on indexes

a    0.170494
b    0.780989
c    0.423313
d    1.062306
e   -2.068610
dtype: float64
a         NaN
b    1.561979
c    0.846626
d    2.124613
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas has a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [6]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2021,11,22,12,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 22 2021'
# or alternatively
date = '22/11/2021 12:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2021-11-22
2021-11-22 12:45:10.000015
22/11/2021 12:45:00
DatetimeIndex(['2021-11-22 12:45:00', '2021-11-23 12:45:00',
               '2021-11-24 12:45:00', '2021-11-25 12:45:00',
               '2021-11-26 12:45:00', '2021-11-27 12:45:00',
               '2021-11-28 12:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2021-11-22 12:45:00', '2021-11-22 12:45:01',
               '2021-11-22 12:45:02', '2021-11-22 12:45:03',
               '2021-11-22 12:45:04', '2021-11-22 12:45:05',
               '2021-11-22 12:45:06', '2021-11-22 12:45:07',
               '2021-11-22 12:45:08', '2021-11-22 12:45:09',
               ...
               '2021-11-22 13:44:50', '2021-11-22 13:44:51',
               '2021-11-22 13:44:52', '2021-11-22 13:44:53',
               '2021-11-22 13:44:54', '2021-11-22 13:44:55',
               '2021-11-22 13:44:56', '2021-11-22 13:44:57',
               '2021-11-22 13:44:58', '2021-11-22 13:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset.

Timestamp is the pandas equivalent of pythonâ€™s Datetime and is interchangeable with it in most cases.

In [7]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts.value)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
1289520000000000000
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [8]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2021-11-22':'2021-11-23'], '\n') # Note - includes end time

2021-11-22 12:45:00     9.875806
2021-11-23 12:45:00    11.272123
2021-11-24 12:45:00    10.481026
2021-11-25 12:45:00    10.700136
Freq: D, dtype: float64

2021-11-22 12:45:00     9.875806
2021-11-23 12:45:00    11.272123
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [ ]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [9]:
entries=10
dates=pd.date_range('11/22/2021 12:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2021-11-22 12:45:00  0.889431 -1.574791  0.491367  0.695722
2021-11-22 13:45:00 -0.702238  0.365874 -0.053255 -0.577285
2021-11-22 14:45:00  1.032142 -1.484981 -0.901916  1.901851
2021-11-22 15:45:00  0.361742 -0.240307  2.075928 -0.044333
2021-11-22 16:45:00 -0.043710 -0.184115  1.443377  0.330300
2021-11-22 17:45:00 -0.665260 -1.167033 -1.207342 -0.010814
2021-11-22 18:45:00  0.042028 -1.921519 -0.384888 -0.639219
2021-11-22 19:45:00 -1.999084  0.642485 -1.686045  0.326414
2021-11-22 20:45:00 -0.640193 -0.293181 -0.324039  0.417987
2021-11-22 21:45:00 -0.782085  0.341259 -0.197413 -0.436356

or by means of a dictionary:

In [10]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
df2

# check what happens if D and E had different lenghts

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [ ]:
df.head(2)

In [ ]:
df.tail(4)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

In [11]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.250723  -0.551631  -0.074423   0.196427
std     0.901595   0.915125   1.154108   0.748327
min    -1.999084  -1.921519  -1.686045  -0.639219
25%    -0.692993  -1.405494  -0.772659  -0.338351
50%    -0.341952  -0.266744  -0.260726   0.157800
75%     0.281814   0.209916   0.355211   0.396066
max     1.032142   0.642485   2.075928   1.901851

In [12]:
df.T

,2021-11-22 12:45:00,2021-11-22 13:45:00,2021-11-22 14:45:00,2021-11-22 15:45:00,2021-11-22 16:45:00,2021-11-22 17:45:00,2021-11-22 18:45:00,2021-11-22 19:45:00,2021-11-22 20:45:00,2021-11-22 21:45:00
A,0.889431,-0.702238,1.032142,0.361742,-0.043710,-0.665260,0.042028,-1.999084,-0.640193,-0.782085
B,-1.574791,0.365874,-1.484981,-0.240307,-0.184115,-1.167033,-1.921519,0.642485,-0.293181,0.341259
C,0.491367,-0.053255,-0.901916,2.075928,1.443377,-1.207342,-0.384888,-1.686045,-0.324039,-0.197413
D,0.695722,-0.577285,1.901851,-0.044333,0.330300,-0.010814,-0.639219,0.326414,0.417987,-0.436356

In [13]:
df.sort_index(axis=0,ascending=True)

                            A         B         C         D
2021-11-22 12:45:00  0.889431 -1.574791  0.491367  0.695722
2021-11-22 13:45:00 -0.702238  0.365874 -0.053255 -0.577285
2021-11-22 14:45:00  1.032142 -1.484981 -0.901916  1.901851
2021-11-22 15:45:00  0.361742 -0.240307  2.075928 -0.044333
2021-11-22 16:45:00 -0.043710 -0.184115  1.443377  0.330300
2021-11-22 17:45:00 -0.665260 -1.167033 -1.207342 -0.010814
2021-11-22 18:45:00  0.042028 -1.921519 -0.384888 -0.639219
2021-11-22 19:45:00 -1.999084  0.642485 -1.686045  0.326414
2021-11-22 20:45:00 -0.640193 -0.293181 -0.324039  0.417987
2021-11-22 21:45:00 -0.782085  0.341259 -0.197413 -0.436356

In [14]:
df.sort_values(by="C")

                            A         B         C         D
2021-11-22 19:45:00 -1.999084  0.642485 -1.686045  0.326414
2021-11-22 17:45:00 -0.665260 -1.167033 -1.207342 -0.010814
2021-11-22 14:45:00  1.032142 -1.484981 -0.901916  1.901851
2021-11-22 18:45:00  0.042028 -1.921519 -0.384888 -0.639219
2021-11-22 20:45:00 -0.640193 -0.293181 -0.324039  0.417987
2021-11-22 21:45:00 -0.782085  0.341259 -0.197413 -0.436356
2021-11-22 13:45:00 -0.702238  0.365874 -0.053255 -0.577285
2021-11-22 12:45:00  0.889431 -1.574791  0.491367  0.695722
2021-11-22 16:45:00 -0.043710 -0.184115  1.443377  0.330300
2021-11-22 15:45:00  0.361742 -0.240307  2.075928 -0.044333

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [16]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)#label becomes a method

2021-11-22 12:45:00    0.889431
2021-11-22 13:45:00   -0.702238
2021-11-22 14:45:00    1.032142
2021-11-22 15:45:00    0.361742
2021-11-22 16:45:00   -0.043710
2021-11-22 17:45:00   -0.665260
2021-11-22 18:45:00    0.042028
2021-11-22 19:45:00   -1.999084
2021-11-22 20:45:00   -0.640193
2021-11-22 21:45:00   -0.782085
Freq: H, Name: A, dtype: float64

2021-11-22 12:45:00    0.889431
2021-11-22 13:45:00   -0.702238
2021-11-22 14:45:00    1.032142
2021-11-22 15:45:00    0.361742
2021-11-22 16:45:00   -0.043710
2021-11-22 17:45:00   -0.665260
2021-11-22 18:45:00    0.042028
2021-11-22 19:45:00   -1.999084
2021-11-22 20:45:00   -0.640193
2021-11-22 21:45:00   -0.782085
Freq: H, Name: A, dtype: float64

In [ ]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2021-11-22 12:45:00":"2021-11-22 14:45:00"])

### Selection by label

In [17]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]] #'dates' contains the indexes

A    0.889431
B   -1.574791
C    0.491367
D    0.695722
Name: 2021-11-22 12:45:00, dtype: float64

In [18]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]
#a=df.loc[:,['A','B']]

                            A         B
2021-11-22 12:45:00  0.889431 -1.574791
2021-11-22 13:45:00 -0.702238  0.365874
2021-11-22 14:45:00  1.032142 -1.484981
2021-11-22 15:45:00  0.361742 -0.240307
2021-11-22 16:45:00 -0.043710 -0.184115
2021-11-22 17:45:00 -0.665260 -1.167033
2021-11-22 18:45:00  0.042028 -1.921519
2021-11-22 19:45:00 -1.999084  0.642485
2021-11-22 20:45:00 -0.640193 -0.293181
2021-11-22 21:45:00 -0.782085  0.341259

In [19]:
# showing label slicing, both endpoints are included:
df.loc['2021-11-22 16:45:00':'2021-11-22 18:45:00',['A','B']]

                            A         B
2021-11-22 16:45:00 -0.043710 -0.184115
2021-11-22 17:45:00 -0.665260 -1.167033
2021-11-22 18:45:00  0.042028 -1.921519

In [20]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

-0.7022375670728827
-0.7022375670728827

### Selecting by position

In [21]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A    0.361742
B   -0.240307
C    2.075928
D   -0.044333
Name: 2021-11-22 15:45:00, dtype: float64

                            A         B
2021-11-22 15:45:00  0.361742 -0.240307
2021-11-22 16:45:00 -0.043710 -0.184115

In [ ]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

In [ ]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

In [ ]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [22]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2021-11-22 13:45:00 -0.702238  0.365874 -0.053255 -0.577285
2021-11-22 19:45:00 -1.999084  0.642485 -1.686045  0.326414
2021-11-22 21:45:00 -0.782085  0.341259 -0.197413 -0.436356

In [23]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met
#NaN means not a number

                            A         B         C         D
2021-11-22 12:45:00  0.889431       NaN  0.491367  0.695722
2021-11-22 13:45:00       NaN  0.365874       NaN       NaN
2021-11-22 14:45:00  1.032142       NaN       NaN  1.901851
2021-11-22 15:45:00  0.361742       NaN  2.075928       NaN
2021-11-22 16:45:00       NaN       NaN  1.443377  0.330300
2021-11-22 17:45:00       NaN       NaN       NaN       NaN
2021-11-22 18:45:00  0.042028       NaN       NaN       NaN
2021-11-22 19:45:00       NaN  0.642485       NaN  0.326414
2021-11-22 20:45:00       NaN       NaN       NaN  0.417987
2021-11-22 21:45:00       NaN  0.341259       NaN       NaN

### Setting

Combination of selection and setting of values

In [24]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [25]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000 -1.574791  0.491367  5  0.0        0  1.000000
2021-11-22 13:45:00 -0.702238  0.365874 -0.053255  5  0.5        2  0.999962
2021-11-22 14:45:00  1.032142 -1.484981 -0.901916  5  1.0        4  0.999848
2021-11-22 15:45:00  0.361742 -0.240307  2.075928  5  1.5        6  0.999657
2021-11-22 16:45:00 -0.043710 -0.184115  1.443377  5  2.0        8  0.999391
2021-11-22 17:45:00 -0.665260 -1.167033 -1.207342  5  2.5       10  0.999048
2021-11-22 18:45:00  0.042028 -1.921519 -0.384888  5  3.0       12  0.998630
2021-11-22 19:45:00 -1.999084  0.642485 -1.686045  5  3.5       14  0.998135
2021-11-22 20:45:00 -0.640193 -0.293181 -0.324039  5  4.0       16  0.997564
2021-11-22 21:45:00 -0.782085  0.341259 -0.197413  5  4.5       18  0.996917

In [26]:
# another example of global setting
df2=df.copy()

df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000 -1.574791 -0.491367 -5  0.0        0 -1.000000
2021-11-22 13:45:00 -0.702238 -0.365874 -0.053255 -5 -0.5       -2 -0.999962
2021-11-22 14:45:00 -1.032142 -1.484981 -0.901916 -5 -1.0       -4 -0.999848
2021-11-22 15:45:00 -0.361742 -0.240307 -2.075928 -5 -1.5       -6 -0.999657
2021-11-22 16:45:00 -0.043710 -0.184115 -1.443377 -5 -2.0       -8 -0.999391
2021-11-22 17:45:00 -0.665260 -1.167033 -1.207342 -5 -2.5      -10 -0.999048
2021-11-22 18:45:00 -0.042028 -1.921519 -0.384888 -5 -3.0      -12 -0.998630
2021-11-22 19:45:00 -1.999084 -0.642485 -1.686045 -5 -3.5      -14 -0.998135
2021-11-22 20:45:00 -0.640193 -0.293181 -0.324039 -5 -4.0      -16 -0.997564
2021-11-22 21:45:00 -0.782085 -0.341259 -0.197413 -5 -4.5      -18 -0.996917

In [ ]:
df

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [27]:
# Dropping by column
df.drop(['E prime'], axis=1)#cancels 'E prime'

#which is equivalent to
new_df=df.drop(columns=['E prime'])
new_df

                            A         B         C  D    E    cosine
2021-11-22 12:45:00  0.000000 -1.574791  0.491367  5  0.0  1.000000
2021-11-22 13:45:00 -0.702238  0.365874 -0.053255  5  0.5  0.999962
2021-11-22 14:45:00  1.032142 -1.484981 -0.901916  5  1.0  0.999848
2021-11-22 15:45:00  0.361742 -0.240307  2.075928  5  1.5  0.999657
2021-11-22 16:45:00 -0.043710 -0.184115  1.443377  5  2.0  0.999391
2021-11-22 17:45:00 -0.665260 -1.167033 -1.207342  5  2.5  0.999048
2021-11-22 18:45:00  0.042028 -1.921519 -0.384888  5  3.0  0.998630
2021-11-22 19:45:00 -1.999084  0.642485 -1.686045  5  3.5  0.998135
2021-11-22 20:45:00 -0.640193 -0.293181 -0.324039  5  4.0  0.997564
2021-11-22 21:45:00 -0.782085  0.341259 -0.197413  5  4.5  0.996917

In [28]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000 -1.574791  0.491367  5  0.0        0  1.000000
2021-11-22 17:45:00 -0.665260 -1.167033 -1.207342  5  2.5       10  0.999048
2021-11-22 18:45:00  0.042028 -1.921519 -0.384888  5  3.0       12  0.998630
2021-11-22 19:45:00 -1.999084  0.642485 -1.686045  5  3.5       14  0.998135
2021-11-22 20:45:00 -0.640193 -0.293181 -0.324039  5  4.0       16  0.997564
2021-11-22 21:45:00 -0.782085  0.341259 -0.197413  5  4.5       18  0.996917

In [29]:
df

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000 -1.574791  0.491367  5  0.0        0  1.000000
2021-11-22 13:45:00 -0.702238  0.365874 -0.053255  5  0.5        2  0.999962
2021-11-22 14:45:00  1.032142 -1.484981 -0.901916  5  1.0        4  0.999848
2021-11-22 15:45:00  0.361742 -0.240307  2.075928  5  1.5        6  0.999657
2021-11-22 16:45:00 -0.043710 -0.184115  1.443377  5  2.0        8  0.999391
2021-11-22 17:45:00 -0.665260 -1.167033 -1.207342  5  2.5       10  0.999048
2021-11-22 18:45:00  0.042028 -1.921519 -0.384888  5  3.0       12  0.998630
2021-11-22 19:45:00 -1.999084  0.642485 -1.686045  5  3.5       14  0.998135
2021-11-22 20:45:00 -0.640193 -0.293181 -0.324039  5  4.0       16  0.997564
2021-11-22 21:45:00 -0.782085  0.341259 -0.197413  5  4.5       18  0.996917

In [ ]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2021-11-22 20:45:00"))

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [30]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00       NaN       NaN  0.491367  5  NaN      NaN  1.000000
2021-11-22 13:45:00       NaN  0.365874       NaN  5  0.5      2.0  0.999962
2021-11-22 14:45:00  1.032142       NaN       NaN  5  1.0      4.0  0.999848
2021-11-22 15:45:00  0.361742       NaN  2.075928  5  1.5      6.0  0.999657
2021-11-22 16:45:00       NaN       NaN  1.443377  5  2.0      8.0  0.999391
2021-11-22 17:45:00       NaN       NaN       NaN  5  2.5     10.0  0.999048
2021-11-22 18:45:00  0.042028       NaN       NaN  5  3.0     12.0  0.998630
2021-11-22 19:45:00       NaN  0.642485       NaN  5  3.5     14.0  0.998135
2021-11-22 20:45:00       NaN       NaN       NaN  5  4.0     16.0  0.997564
2021-11-22 21:45:00       NaN  0.341259       NaN  5  4.5     18.0  0.996917

In [31]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

Empty DataFrame
Columns: [A, B, C, D, E, E prime, cosine]
Index: []

In [32]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2021-11-22 12:45:00   True   True  False  False   True     True   False
2021-11-22 13:45:00   True  False   True  False  False    False   False
2021-11-22 14:45:00  False   True   True  False  False    False   False
2021-11-22 15:45:00  False   True  False  False  False    False   False
2021-11-22 16:45:00   True   True  False  False  False    False   False
2021-11-22 17:45:00   True   True   True  False  False    False   False
2021-11-22 18:45:00  False   True   True  False  False    False   False
2021-11-22 19:45:00   True  False   True  False  False    False   False
2021-11-22 20:45:00   True   True   True  False  False    False   False
2021-11-22 21:45:00   True  False   True  False  False    False   False

In [33]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000  0.000000  0.491367  5  0.0      0.0  1.000000
2021-11-22 13:45:00  0.000000  0.365874  0.000000  5  0.5      2.0  0.999962
2021-11-22 14:45:00  1.032142  0.000000  0.000000  5  1.0      4.0  0.999848
2021-11-22 15:45:00  0.361742  0.000000  2.075928  5  1.5      6.0  0.999657
2021-11-22 16:45:00  0.000000  0.000000  1.443377  5  2.0      8.0  0.999391
2021-11-22 17:45:00  0.000000  0.000000  0.000000  5  2.5     10.0  0.999048
2021-11-22 18:45:00  0.042028  0.000000  0.000000  5  3.0     12.0  0.998630
2021-11-22 19:45:00  0.000000  0.642485  0.000000  5  3.5     14.0  0.998135
2021-11-22 20:45:00  0.000000  0.000000  0.000000  5  4.0     16.0  0.997564
2021-11-22 21:45:00  0.000000  0.341259  0.000000  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [34]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00       NaN       NaN  0.491367  5  NaN      NaN  1.000000
2021-11-22 13:45:00       NaN  0.365874  0.491367  5  0.5      2.0  0.999962
2021-11-22 14:45:00  1.032142  0.365874  0.491367  5  1.0      4.0  0.999848
2021-11-22 15:45:00  0.361742  0.365874  2.075928  5  1.5      6.0  0.999657
2021-11-22 16:45:00  0.361742  0.365874  1.443377  5  2.0      8.0  0.999391
2021-11-22 17:45:00  0.361742  0.365874  1.443377  5  2.5     10.0  0.999048
2021-11-22 18:45:00  0.042028  0.365874  1.443377  5  3.0     12.0  0.998630
2021-11-22 19:45:00  0.042028  0.642485  1.443377  5  3.5     14.0  0.998135
2021-11-22 20:45:00  0.042028  0.642485  1.443377  5  4.0     16.0  0.997564
2021-11-22 21:45:00  0.042028  0.341259  1.443377  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [35]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A         -0.339666
B         -0.551631
C         -0.074423
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2021-11-22 12:45:00    0.702368
2021-11-22 13:45:00    1.158620
2021-11-22 14:45:00    1.377870
2021-11-22 15:45:00    2.242432
2021-11-22 16:45:00    2.459277
2021-11-22 17:45:00    2.208488
2021-11-22 18:45:00    2.676321
2021-11-22 19:45:00    2.922213
2021-11-22 20:45:00    3.534307
2021-11-22 21:45:00    3.979811
Freq: H, dtype: float64

In [36]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2021-11-22 12:45:00  0.000000 -1.574791  0.491367   5   0.0        0  1.000000
2021-11-22 13:45:00 -0.702238 -1.208917  0.438112  10   0.5        2  1.999962
2021-11-22 14:45:00  0.329904 -2.693897 -0.463804  15   1.5        6  2.999810
2021-11-22 15:45:00  0.691646 -2.934205  1.612124  20   3.0       12  3.999467
2021-11-22 16:45:00  0.647936 -3.118319  3.055501  25   5.0       20  4.998858
2021-11-22 17:45:00 -0.017324 -4.285352  1.848159  30   7.5       30  5.997906
2021-11-22 18:45:00  0.024704 -6.206872  1.463270  35  10.5       42  6.996536
2021-11-22 19:45:00 -1.974380 -5.564387 -0.222775  40  14.0       56  7.994670
2021-11-22 20:45:00 -2.614572 -5.857568 -0.546814  45  18.0       72  8.992234
2021-11-22 21:45:00 -3.396658 -5.516309 -0.744227  50  22.5       90  9.989152

In [37]:
df

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000 -1.574791  0.491367  5  0.0        0  1.000000
2021-11-22 13:45:00 -0.702238  0.365874 -0.053255  5  0.5        2  0.999962
2021-11-22 14:45:00  1.032142 -1.484981 -0.901916  5  1.0        4  0.999848
2021-11-22 15:45:00  0.361742 -0.240307  2.075928  5  1.5        6  0.999657
2021-11-22 16:45:00 -0.043710 -0.184115  1.443377  5  2.0        8  0.999391
2021-11-22 17:45:00 -0.665260 -1.167033 -1.207342  5  2.5       10  0.999048
2021-11-22 18:45:00  0.042028 -1.921519 -0.384888  5  3.0       12  0.998630
2021-11-22 19:45:00 -1.999084  0.642485 -1.686045  5  3.5       14  0.998135
2021-11-22 20:45:00 -0.640193 -0.293181 -0.324039  5  4.0       16  0.997564
2021-11-22 21:45:00 -0.782085  0.341259 -0.197413  5  4.5       18  0.996917

In [38]:
df.apply(lambda x: x.max() - x.min())

A           3.031225
B           2.564004
C           3.761973
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [ ]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

Let's play it hard and load (in memory) a (relatively) large dataset

In [39]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/data/data_000637.txt"
data=pd.read_csv(file_name)
data

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           1     0          123  3869200167        2374        26
1           1     0          124  3869200167        2374        27
2           1     0           63  3869200167        2553        28
3           1     0           64  3869200167        2558        19
4           1     0           64  3869200167        2760        25
...       ...   ...          ...         ...         ...       ...
1310715     1     0           62  3869211171         762        14
1310716     1     1            4  3869211171         763        11
1310717     1     0           64  3869211171         764         0
1310718     1     0          139  3869211171         769         0
1310719     1     0           61  3869211171         762        18

[1310720 rows x 6 columns]

Let's now do some operations among (elements of) columns

In [40]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [41]:
data['timens']

0          59371.666667
1          59372.500000
2          63848.333333
3          63965.833333
4          69020.833333
               ...
1310715    19061.666667
1310716    19084.166667
1310717    19100.000000
1310718    19225.000000
1310719    19065.000000
Name: timens, Length: 1310720, dtype: float64

In [ ]:
#THIS IS SLOW


# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [42]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

          0         1         2         3
0 -0.532591 -0.893554 -2.034428 -0.344499
1 -0.784430  0.583532 -1.387463 -0.299704
2  1.730330  0.142739  0.403975  0.973625
3 -1.053330  0.439299 -0.357344  2.524809
4  1.033981 -0.922641  1.196347  1.384741
5 -0.537489 -0.608348 -0.601745  0.606085
6 -0.696816 -0.797298  0.518378 -1.306187
7 -0.392407 -0.535096  0.845524 -0.663024
8 -0.207112  1.831977 -0.368595 -0.928105
9  1.759646 -0.590413 -0.653620 -0.379851

In [43]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

[          0         1         2         3
 0 -0.532591 -0.893554 -2.034428 -0.344499
 1 -0.784430  0.583532 -1.387463 -0.299704
 2  1.730330  0.142739  0.403975  0.973625,
           0         1         2         3
 3 -1.053330  0.439299 -0.357344  2.524809
 4  1.033981 -0.922641  1.196347  1.384741
 5 -0.537489 -0.608348 -0.601745  0.606085
 6 -0.696816 -0.797298  0.518378 -1.306187,
           0         1         2         3
 7 -0.392407 -0.535096  0.845524 -0.663024
 8 -0.207112  1.831977 -0.368595 -0.928105
 9  1.759646 -0.590413 -0.653620 -0.379851]

In [44]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

          0         1         2         3
0 -0.532591 -0.893554 -2.034428 -0.344499
1 -0.784430  0.583532 -1.387463 -0.299704
2  1.730330  0.142739  0.403975  0.973625
3 -1.053330  0.439299 -0.357344  2.524809
4  1.033981 -0.922641  1.196347  1.384741
5 -0.537489 -0.608348 -0.601745  0.606085
6 -0.696816 -0.797298  0.518378 -1.306187
7 -0.392407 -0.535096  0.845524 -0.663024
8 -0.207112  1.831977 -0.368595 -0.928105
9  1.759646 -0.590413 -0.653620 -0.379851

In [45]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

          0         1         2         3
0 -0.532591 -0.893554 -2.034428 -0.344499
1 -0.784430  0.583532 -1.387463 -0.299704
2  1.730330  0.142739  0.403975  0.973625
3 -1.053330  0.439299 -0.357344  2.524809
4  1.033981 -0.922641  1.196347  1.384741
5 -0.537489 -0.608348 -0.601745  0.606085
6 -0.696816 -0.797298  0.518378 -1.306187
7 -0.392407 -0.535096  0.845524 -0.663024
8 -0.207112  1.831977 -0.368595 -0.928105
9  1.759646 -0.590413 -0.653620 -0.379851

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
print(left)
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
print(right)
pd.merge(left,right,on="key")

## Grouping

By â€œgroup byâ€ we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [46]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

     A      B         C         D
0  foo    one -0.149305  0.257529
1  bar    one  1.118792 -1.410187
2  foo    two  0.195864  0.943617
3  bar  three -0.655397 -0.231195
4  foo    two -0.081776 -0.442344
5  bar    two  0.580215  0.810111
6  foo    one  0.319290  0.330441
7  foo  three -0.194624  0.760656

In [47]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

            C         D
A
bar  1.043610 -0.831271
foo  0.089449  1.849900

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [48]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

first  second
bar    one      -0.955678
       two      -0.286462
baz    one       0.387181
       two      -1.961481
foo    one      -0.491648
       two      -0.577049
qux    one       0.572678
       two      -0.347471
dtype: float64

In [49]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

                  C         D
A   B
bar one    1.118792 -1.410187
    three -0.655397 -0.231195
    two    0.580215  0.810111
foo one    0.169984  0.587970
    three -0.194624  0.760656
    two    0.114089  0.501273

In [ ]:
# stack() method â€œcompressesâ€ a level in the DataFrameâ€™s columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [1]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

NameError: name 'pd' is not defined

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
pdf = pdf.cumsum()
plt.figure(); pdf.plot(); plt.legend(loc='best')