# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [5]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:", xs,'\n')
#print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
#print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
#print (type(xs[['d', 'f', 'h']]), '\n')

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

In [6]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [7]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [8]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s)

a    1.441333
b   -0.437950
c    0.815121
d    2.461507
e    0.646221
dtype: float64
a         NaN
b   -0.875899
c    1.630242
d    4.923014
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas has a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [9]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2021,11,22,12,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 22 2021'
# or alternatively
date = '22/11/2021 12:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2021-11-22
2021-11-22 12:45:10.000015
22/11/2021 12:45:00
DatetimeIndex(['2021-11-22 12:45:00', '2021-11-23 12:45:00',
               '2021-11-24 12:45:00', '2021-11-25 12:45:00',
               '2021-11-26 12:45:00', '2021-11-27 12:45:00',
               '2021-11-28 12:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2021-11-22 12:45:00', '2021-11-22 12:45:01',
               '2021-11-22 12:45:02', '2021-11-22 12:45:03',
               '2021-11-22 12:45:04', '2021-11-22 12:45:05',
               '2021-11-22 12:45:06', '2021-11-22 12:45:07',
               '2021-11-22 12:45:08', '2021-11-22 12:45:09',
               ...
               '2021-11-22 13:44:50', '2021-11-22 13:44:51',
               '2021-11-22 13:44:52', '2021-11-22 13:44:53',
               '2021-11-22 13:44:54', '2021-11-22 13:44:55',
               '2021-11-22 13:44:56', '2021-11-22 13:44:57',
               '2021-11-22 13:44:58', '2021-11-22 13:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset.

Timestamp is the pandas equivalent of pythonâ€™s Datetime and is interchangeable with it in most cases.

In [10]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts.value)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
1289520000000000000
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [11]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2021-11-22':'2021-11-23'], '\n') # Note - includes end time

2021-11-22 12:45:00    10.849523
2021-11-23 12:45:00    11.293991
2021-11-24 12:45:00    10.872537
2021-11-25 12:45:00     8.994445
Freq: D, dtype: float64

2021-11-22 12:45:00    10.849523
2021-11-23 12:45:00    11.293991
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [ ]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [12]:
entries=10
dates=pd.date_range('11/22/2021 12:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2021-11-22 12:45:00  1.880515  0.841513  1.364167 -0.314082
2021-11-22 13:45:00 -0.354019 -0.040673  0.776910  1.770409
2021-11-22 14:45:00 -1.166188  0.762407 -0.097503  0.368615
2021-11-22 15:45:00 -1.657199  1.030894 -0.083521  0.720266
2021-11-22 16:45:00  0.482816 -1.087356  1.239548  0.113168
2021-11-22 17:45:00 -0.035964  0.271499  2.514703 -0.289632
2021-11-22 18:45:00  0.983167  0.278217  1.690167  0.758272
2021-11-22 19:45:00  0.226377  0.150168 -1.698523  0.920210
2021-11-22 20:45:00  0.977604  0.931535  1.132052  0.771014
2021-11-22 21:45:00  0.885412 -0.397513 -0.953911  1.554125

or by means of a dictionary:

In [13]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
df2

# check what happens if D and E had different lenghts

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [14]:
df.head(2)

                            A         B         C         D
2021-11-22 12:45:00  1.880515  0.841513  1.364167 -0.314082
2021-11-22 13:45:00 -0.354019 -0.040673  0.776910  1.770409

In [15]:
df.tail(4)

                            A         B         C         D
2021-11-22 18:45:00  0.983167  0.278217  1.690167  0.758272
2021-11-22 19:45:00  0.226377  0.150168 -1.698523  0.920210
2021-11-22 20:45:00  0.977604  0.931535  1.132052  0.771014
2021-11-22 21:45:00  0.885412 -0.397513 -0.953911  1.554125

In [16]:
df.index

DatetimeIndex(['2021-11-22 12:45:00', '2021-11-22 13:45:00',
               '2021-11-22 14:45:00', '2021-11-22 15:45:00',
               '2021-11-22 16:45:00', '2021-11-22 17:45:00',
               '2021-11-22 18:45:00', '2021-11-22 19:45:00',
               '2021-11-22 20:45:00', '2021-11-22 21:45:00'],
              dtype='datetime64[ns]', freq='H')

In [17]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
df.values

array([[ 1.88051456,  0.84151304,  1.36416691, -0.31408215],
       [-0.35401943, -0.04067259,  0.77690954,  1.77040933],
       [-1.16618817,  0.7624067 , -0.09750282,  0.3686152 ],
       [-1.65719875,  1.03089427, -0.08352126,  0.72026574],
       [ 0.4828158 , -1.08735575,  1.23954844,  0.11316781],
       [-0.03596365,  0.27149889,  2.51470343, -0.28963199],
       [ 0.9831673 ,  0.2782165 ,  1.69016719,  0.75827179],
       [ 0.22637674,  0.15016779, -1.69852257,  0.92020966],
       [ 0.97760417,  0.93153498,  1.13205234,  0.77101355],
       [ 0.88541202, -0.39751303, -0.95391123,  1.55412473]])

In [19]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.222252   0.274069   0.588409   0.637236
std     1.068017   0.665370   1.282884   0.695635
min    -1.657199  -1.087356  -1.698523  -0.314082
25%    -0.274505   0.007038  -0.094007   0.177030
50%     0.354596   0.274858   0.954481   0.739269
75%     0.954556   0.821736   1.333012   0.882911
max     1.880515   1.030894   2.514703   1.770409

In [20]:
df.T

,2021-11-22 12:45:00,2021-11-22 13:45:00,2021-11-22 14:45:00,2021-11-22 15:45:00,2021-11-22 16:45:00,2021-11-22 17:45:00,2021-11-22 18:45:00,2021-11-22 19:45:00,2021-11-22 20:45:00,2021-11-22 21:45:00
A,1.880515,-0.354019,-1.166188,-1.657199,0.482816,-0.035964,0.983167,0.226377,0.977604,0.885412
B,0.841513,-0.040673,0.762407,1.030894,-1.087356,0.271499,0.278217,0.150168,0.931535,-0.397513
C,1.364167,0.776910,-0.097503,-0.083521,1.239548,2.514703,1.690167,-1.698523,1.132052,-0.953911
D,-0.314082,1.770409,0.368615,0.720266,0.113168,-0.289632,0.758272,0.920210,0.771014,1.554125

In [21]:
df.sort_index(axis=0,ascending=True)

                            A         B         C         D
2021-11-22 12:45:00  1.880515  0.841513  1.364167 -0.314082
2021-11-22 13:45:00 -0.354019 -0.040673  0.776910  1.770409
2021-11-22 14:45:00 -1.166188  0.762407 -0.097503  0.368615
2021-11-22 15:45:00 -1.657199  1.030894 -0.083521  0.720266
2021-11-22 16:45:00  0.482816 -1.087356  1.239548  0.113168
2021-11-22 17:45:00 -0.035964  0.271499  2.514703 -0.289632
2021-11-22 18:45:00  0.983167  0.278217  1.690167  0.758272
2021-11-22 19:45:00  0.226377  0.150168 -1.698523  0.920210
2021-11-22 20:45:00  0.977604  0.931535  1.132052  0.771014
2021-11-22 21:45:00  0.885412 -0.397513 -0.953911  1.554125

In [22]:
df.sort_values(by="C")

                            A         B         C         D
2021-11-22 19:45:00  0.226377  0.150168 -1.698523  0.920210
2021-11-22 21:45:00  0.885412 -0.397513 -0.953911  1.554125
2021-11-22 14:45:00 -1.166188  0.762407 -0.097503  0.368615
2021-11-22 15:45:00 -1.657199  1.030894 -0.083521  0.720266
2021-11-22 13:45:00 -0.354019 -0.040673  0.776910  1.770409
2021-11-22 20:45:00  0.977604  0.931535  1.132052  0.771014
2021-11-22 16:45:00  0.482816 -1.087356  1.239548  0.113168
2021-11-22 12:45:00  1.880515  0.841513  1.364167 -0.314082
2021-11-22 18:45:00  0.983167  0.278217  1.690167  0.758272
2021-11-22 17:45:00 -0.035964  0.271499  2.514703 -0.289632

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [25]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2021-11-22 12:45:00    1.880515
2021-11-22 13:45:00   -0.354019
2021-11-22 14:45:00   -1.166188
2021-11-22 15:45:00   -1.657199
2021-11-22 16:45:00    0.482816
2021-11-22 17:45:00   -0.035964
2021-11-22 18:45:00    0.983167
2021-11-22 19:45:00    0.226377
2021-11-22 20:45:00    0.977604
2021-11-22 21:45:00    0.885412
Freq: H, Name: A, dtype: float64

2021-11-22 12:45:00    1.880515
2021-11-22 13:45:00   -0.354019
2021-11-22 14:45:00   -1.166188
2021-11-22 15:45:00   -1.657199
2021-11-22 16:45:00    0.482816
2021-11-22 17:45:00   -0.035964
2021-11-22 18:45:00    0.983167
2021-11-22 19:45:00    0.226377
2021-11-22 20:45:00    0.977604
2021-11-22 21:45:00    0.885412
Freq: H, Name: A, dtype: float64

In [26]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2021-11-22 12:45:00":"2021-11-22 14:45:00"])

                            A         B         C         D
2021-11-22 12:45:00  1.880515  0.841513  1.364167 -0.314082
2021-11-22 13:45:00 -0.354019 -0.040673  0.776910  1.770409
2021-11-22 14:45:00 -1.166188  0.762407 -0.097503  0.368615
                            A         B         C         D
2021-11-22 12:45:00  1.880515  0.841513  1.364167 -0.314082
2021-11-22 13:45:00 -0.354019 -0.040673  0.776910  1.770409
2021-11-22 14:45:00 -1.166188  0.762407 -0.097503  0.368615

### Selection by label

In [27]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A    1.880515
B    0.841513
C    1.364167
D   -0.314082
Name: 2021-11-22 12:45:00, dtype: float64

In [28]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]
#a=df.loc[:,['A','B']]

                            A         B
2021-11-22 12:45:00  1.880515  0.841513
2021-11-22 13:45:00 -0.354019 -0.040673
2021-11-22 14:45:00 -1.166188  0.762407
2021-11-22 15:45:00 -1.657199  1.030894
2021-11-22 16:45:00  0.482816 -1.087356
2021-11-22 17:45:00 -0.035964  0.271499
2021-11-22 18:45:00  0.983167  0.278217
2021-11-22 19:45:00  0.226377  0.150168
2021-11-22 20:45:00  0.977604  0.931535
2021-11-22 21:45:00  0.885412 -0.397513

In [29]:
# showing label slicing, both endpoints are included:
df.loc['2021-11-22 16:45:00':'2021-11-22 18:45:00',['A','B']]

                            A         B
2021-11-22 16:45:00  0.482816 -1.087356
2021-11-22 17:45:00 -0.035964  0.271499
2021-11-22 18:45:00  0.983167  0.278217

In [30]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

-0.3540194256437926
-0.3540194256437926

### Selecting by position

In [31]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A   -1.657199
B    1.030894
C   -0.083521
D    0.720266
Name: 2021-11-22 15:45:00, dtype: float64

                            A         B
2021-11-22 15:45:00 -1.657199  1.030894
2021-11-22 16:45:00  0.482816 -1.087356

In [32]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2021-11-22 13:45:00 -0.354019  0.776910
2021-11-22 14:45:00 -1.166188 -0.097503
2021-11-22 16:45:00  0.482816  1.239548

In [33]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2021-11-22 13:45:00 -0.354019 -0.040673  0.776910  1.770409
2021-11-22 14:45:00 -1.166188  0.762407 -0.097503  0.368615

                            B         C
2021-11-22 12:45:00  0.841513  1.364167
2021-11-22 13:45:00 -0.040673  0.776910
2021-11-22 14:45:00  0.762407 -0.097503
2021-11-22 15:45:00  1.030894 -0.083521
2021-11-22 16:45:00 -1.087356  1.239548
2021-11-22 17:45:00  0.271499  2.514703
2021-11-22 18:45:00  0.278217  1.690167
2021-11-22 19:45:00  0.150168 -1.698523
2021-11-22 20:45:00  0.931535  1.132052
2021-11-22 21:45:00 -0.397513 -0.953911

In [34]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

-0.04067259493230289

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [35]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2021-11-22 12:45:00  1.880515  0.841513  1.364167 -0.314082
2021-11-22 14:45:00 -1.166188  0.762407 -0.097503  0.368615
2021-11-22 15:45:00 -1.657199  1.030894 -0.083521  0.720266
2021-11-22 17:45:00 -0.035964  0.271499  2.514703 -0.289632
2021-11-22 18:45:00  0.983167  0.278217  1.690167  0.758272
2021-11-22 19:45:00  0.226377  0.150168 -1.698523  0.920210
2021-11-22 20:45:00  0.977604  0.931535  1.132052  0.771014

In [36]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2021-11-22 12:45:00  1.880515  0.841513  1.364167       NaN
2021-11-22 13:45:00       NaN       NaN  0.776910  1.770409
2021-11-22 14:45:00       NaN  0.762407       NaN  0.368615
2021-11-22 15:45:00       NaN  1.030894       NaN  0.720266
2021-11-22 16:45:00  0.482816       NaN  1.239548  0.113168
2021-11-22 17:45:00       NaN  0.271499  2.514703       NaN
2021-11-22 18:45:00  0.983167  0.278217  1.690167  0.758272
2021-11-22 19:45:00  0.226377  0.150168       NaN  0.920210
2021-11-22 20:45:00  0.977604  0.931535  1.132052  0.771014
2021-11-22 21:45:00  0.885412       NaN       NaN  1.554125

### Setting

Combination of selection and setting of values

In [37]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [38]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000  0.841513  1.364167  5  0.0        0  1.000000
2021-11-22 13:45:00 -0.354019 -0.040673  0.776910  5  0.5        2  0.999962
2021-11-22 14:45:00 -1.166188  0.762407 -0.097503  5  1.0        4  0.999848
2021-11-22 15:45:00 -1.657199  1.030894 -0.083521  5  1.5        6  0.999657
2021-11-22 16:45:00  0.482816 -1.087356  1.239548  5  2.0        8  0.999391
2021-11-22 17:45:00 -0.035964  0.271499  2.514703  5  2.5       10  0.999048
2021-11-22 18:45:00  0.983167  0.278217  1.690167  5  3.0       12  0.998630
2021-11-22 19:45:00  0.226377  0.150168 -1.698523  5  3.5       14  0.998135
2021-11-22 20:45:00  0.977604  0.931535  1.132052  5  4.0       16  0.997564
2021-11-22 21:45:00  0.885412 -0.397513 -0.953911  5  4.5       18  0.996917

In [39]:
# another example of global setting
df2=df.copy()

df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000 -0.841513 -1.364167 -5  0.0        0 -1.000000
2021-11-22 13:45:00 -0.354019 -0.040673 -0.776910 -5 -0.5       -2 -0.999962
2021-11-22 14:45:00 -1.166188 -0.762407 -0.097503 -5 -1.0       -4 -0.999848
2021-11-22 15:45:00 -1.657199 -1.030894 -0.083521 -5 -1.5       -6 -0.999657
2021-11-22 16:45:00 -0.482816 -1.087356 -1.239548 -5 -2.0       -8 -0.999391
2021-11-22 17:45:00 -0.035964 -0.271499 -2.514703 -5 -2.5      -10 -0.999048
2021-11-22 18:45:00 -0.983167 -0.278217 -1.690167 -5 -3.0      -12 -0.998630
2021-11-22 19:45:00 -0.226377 -0.150168 -1.698523 -5 -3.5      -14 -0.998135
2021-11-22 20:45:00 -0.977604 -0.931535 -1.132052 -5 -4.0      -16 -0.997564
2021-11-22 21:45:00 -0.885412 -0.397513 -0.953911 -5 -4.5      -18 -0.996917

In [40]:
df

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000  0.841513  1.364167  5  0.0        0  1.000000
2021-11-22 13:45:00 -0.354019 -0.040673  0.776910  5  0.5        2  0.999962
2021-11-22 14:45:00 -1.166188  0.762407 -0.097503  5  1.0        4  0.999848
2021-11-22 15:45:00 -1.657199  1.030894 -0.083521  5  1.5        6  0.999657
2021-11-22 16:45:00  0.482816 -1.087356  1.239548  5  2.0        8  0.999391
2021-11-22 17:45:00 -0.035964  0.271499  2.514703  5  2.5       10  0.999048
2021-11-22 18:45:00  0.983167  0.278217  1.690167  5  3.0       12  0.998630
2021-11-22 19:45:00  0.226377  0.150168 -1.698523  5  3.5       14  0.998135
2021-11-22 20:45:00  0.977604  0.931535  1.132052  5  4.0       16  0.997564
2021-11-22 21:45:00  0.885412 -0.397513 -0.953911  5  4.5       18  0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [41]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
new_df=df.drop(columns=['E prime'])
new_df

                            A         B         C  D    E    cosine
2021-11-22 12:45:00  0.000000  0.841513  1.364167  5  0.0  1.000000
2021-11-22 13:45:00 -0.354019 -0.040673  0.776910  5  0.5  0.999962
2021-11-22 14:45:00 -1.166188  0.762407 -0.097503  5  1.0  0.999848
2021-11-22 15:45:00 -1.657199  1.030894 -0.083521  5  1.5  0.999657
2021-11-22 16:45:00  0.482816 -1.087356  1.239548  5  2.0  0.999391
2021-11-22 17:45:00 -0.035964  0.271499  2.514703  5  2.5  0.999048
2021-11-22 18:45:00  0.983167  0.278217  1.690167  5  3.0  0.998630
2021-11-22 19:45:00  0.226377  0.150168 -1.698523  5  3.5  0.998135
2021-11-22 20:45:00  0.977604  0.931535  1.132052  5  4.0  0.997564
2021-11-22 21:45:00  0.885412 -0.397513 -0.953911  5  4.5  0.996917

In [42]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000  0.841513  1.364167  5  0.0        0  1.000000
2021-11-22 17:45:00 -0.035964  0.271499  2.514703  5  2.5       10  0.999048
2021-11-22 18:45:00  0.983167  0.278217  1.690167  5  3.0       12  0.998630
2021-11-22 19:45:00  0.226377  0.150168 -1.698523  5  3.5       14  0.998135
2021-11-22 20:45:00  0.977604  0.931535  1.132052  5  4.0       16  0.997564
2021-11-22 21:45:00  0.885412 -0.397513 -0.953911  5  4.5       18  0.996917

In [43]:
df

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000  0.841513  1.364167  5  0.0        0  1.000000
2021-11-22 13:45:00 -0.354019 -0.040673  0.776910  5  0.5        2  0.999962
2021-11-22 14:45:00 -1.166188  0.762407 -0.097503  5  1.0        4  0.999848
2021-11-22 15:45:00 -1.657199  1.030894 -0.083521  5  1.5        6  0.999657
2021-11-22 16:45:00  0.482816 -1.087356  1.239548  5  2.0        8  0.999391
2021-11-22 17:45:00 -0.035964  0.271499  2.514703  5  2.5       10  0.999048
2021-11-22 18:45:00  0.983167  0.278217  1.690167  5  3.0       12  0.998630
2021-11-22 19:45:00  0.226377  0.150168 -1.698523  5  3.5       14  0.998135
2021-11-22 20:45:00  0.977604  0.931535  1.132052  5  4.0       16  0.997564
2021-11-22 21:45:00  0.885412 -0.397513 -0.953911  5  4.5       18  0.996917

In [44]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2021-11-22 20:45:00"))

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000  0.841513  1.364167  5  0.0        0  1.000000
2021-11-22 13:45:00 -0.354019 -0.040673  0.776910  5  0.5        2  0.999962
2021-11-22 14:45:00 -1.166188  0.762407 -0.097503  5  1.0        4  0.999848
2021-11-22 15:45:00 -1.657199  1.030894 -0.083521  5  1.5        6  0.999657
2021-11-22 16:45:00  0.482816 -1.087356  1.239548  5  2.0        8  0.999391
2021-11-22 17:45:00 -0.035964  0.271499  2.514703  5  2.5       10  0.999048
2021-11-22 18:45:00  0.983167  0.278217  1.690167  5  3.0       12  0.998630
2021-11-22 19:45:00  0.226377  0.150168 -1.698523  5  3.5       14  0.998135
2021-11-22 21:45:00  0.885412 -0.397513 -0.953911  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [45]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00       NaN  0.841513  1.364167  5  NaN      NaN  1.000000
2021-11-22 13:45:00       NaN       NaN  0.776910  5  0.5      2.0  0.999962
2021-11-22 14:45:00       NaN  0.762407       NaN  5  1.0      4.0  0.999848
2021-11-22 15:45:00       NaN  1.030894       NaN  5  1.5      6.0  0.999657
2021-11-22 16:45:00  0.482816       NaN  1.239548  5  2.0      8.0  0.999391
2021-11-22 17:45:00       NaN  0.271499  2.514703  5  2.5     10.0  0.999048
2021-11-22 18:45:00  0.983167  0.278217  1.690167  5  3.0     12.0  0.998630
2021-11-22 19:45:00  0.226377  0.150168       NaN  5  3.5     14.0  0.998135
2021-11-22 20:45:00  0.977604  0.931535  1.132052  5  4.0     16.0  0.997564
2021-11-22 21:45:00  0.885412       NaN       NaN  5  4.5     18.0  0.996917

In [46]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

                            A         B         C  D    E  E prime    cosine
2021-11-22 18:45:00  0.983167  0.278217  1.690167  5  3.0     12.0  0.998630
2021-11-22 20:45:00  0.977604  0.931535  1.132052  5  4.0     16.0  0.997564

In [47]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2021-11-22 12:45:00   True  False  False  False   True     True   False
2021-11-22 13:45:00   True   True  False  False  False    False   False
2021-11-22 14:45:00   True  False   True  False  False    False   False
2021-11-22 15:45:00   True  False   True  False  False    False   False
2021-11-22 16:45:00  False   True  False  False  False    False   False
2021-11-22 17:45:00   True  False  False  False  False    False   False
2021-11-22 18:45:00  False  False  False  False  False    False   False
2021-11-22 19:45:00  False  False   True  False  False    False   False
2021-11-22 20:45:00  False  False  False  False  False    False   False
2021-11-22 21:45:00  False   True   True  False  False    False   False

In [48]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000  0.841513  1.364167  5  0.0      0.0  1.000000
2021-11-22 13:45:00  0.000000  0.000000  0.776910  5  0.5      2.0  0.999962
2021-11-22 14:45:00  0.000000  0.762407  0.000000  5  1.0      4.0  0.999848
2021-11-22 15:45:00  0.000000  1.030894  0.000000  5  1.5      6.0  0.999657
2021-11-22 16:45:00  0.482816  0.000000  1.239548  5  2.0      8.0  0.999391
2021-11-22 17:45:00  0.000000  0.271499  2.514703  5  2.5     10.0  0.999048
2021-11-22 18:45:00  0.983167  0.278217  1.690167  5  3.0     12.0  0.998630
2021-11-22 19:45:00  0.226377  0.150168  0.000000  5  3.5     14.0  0.998135
2021-11-22 20:45:00  0.977604  0.931535  1.132052  5  4.0     16.0  0.997564
2021-11-22 21:45:00  0.885412  0.000000  0.000000  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [49]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00       NaN  0.841513  1.364167  5  NaN      NaN  1.000000
2021-11-22 13:45:00       NaN  0.841513  0.776910  5  0.5      2.0  0.999962
2021-11-22 14:45:00       NaN  0.762407  0.776910  5  1.0      4.0  0.999848
2021-11-22 15:45:00       NaN  1.030894  0.776910  5  1.5      6.0  0.999657
2021-11-22 16:45:00  0.482816  1.030894  1.239548  5  2.0      8.0  0.999391
2021-11-22 17:45:00  0.482816  0.271499  2.514703  5  2.5     10.0  0.999048
2021-11-22 18:45:00  0.983167  0.278217  1.690167  5  3.0     12.0  0.998630
2021-11-22 19:45:00  0.226377  0.150168  1.690167  5  3.5     14.0  0.998135
2021-11-22 20:45:00  0.977604  0.931535  1.132052  5  4.0     16.0  0.997564
2021-11-22 21:45:00  0.885412  0.931535  1.132052  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [50]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A          0.034201
B          0.274069
C          0.588409
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2021-11-22 12:45:00    1.172240
2021-11-22 13:45:00    1.268883
2021-11-22 14:45:00    1.499795
2021-11-22 15:45:00    1.827119
2021-11-22 16:45:00    2.376343
2021-11-22 17:45:00    3.035612
2021-11-22 18:45:00    3.421454
2021-11-22 19:45:00    3.168022
2021-11-22 20:45:00    4.148394
2021-11-22 21:45:00    4.004415
Freq: H, dtype: float64

In [51]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2021-11-22 12:45:00  0.000000  0.841513  1.364167   5   0.0        0  1.000000
2021-11-22 13:45:00 -0.354019  0.800840  2.141076  10   0.5        2  1.999962
2021-11-22 14:45:00 -1.520208  1.563247  2.043574  15   1.5        6  2.999810
2021-11-22 15:45:00 -3.177406  2.594141  1.960052  20   3.0       12  3.999467
2021-11-22 16:45:00 -2.694591  1.506786  3.199601  25   5.0       20  4.998858
2021-11-22 17:45:00 -2.730554  1.778285  5.714304  30   7.5       30  5.997906
2021-11-22 18:45:00 -1.747387  2.056501  7.404471  35  10.5       42  6.996536
2021-11-22 19:45:00 -1.521010  2.206669  5.705949  40  14.0       56  7.994670
2021-11-22 20:45:00 -0.543406  3.138204  6.838001  45  18.0       72  8.992234
2021-11-22 21:45:00  0.342006  2.740691  5.884090  50  22.5       90  9.989152

In [52]:
df

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000  0.841513  1.364167  5  0.0        0  1.000000
2021-11-22 13:45:00 -0.354019 -0.040673  0.776910  5  0.5        2  0.999962
2021-11-22 14:45:00 -1.166188  0.762407 -0.097503  5  1.0        4  0.999848
2021-11-22 15:45:00 -1.657199  1.030894 -0.083521  5  1.5        6  0.999657
2021-11-22 16:45:00  0.482816 -1.087356  1.239548  5  2.0        8  0.999391
2021-11-22 17:45:00 -0.035964  0.271499  2.514703  5  2.5       10  0.999048
2021-11-22 18:45:00  0.983167  0.278217  1.690167  5  3.0       12  0.998630
2021-11-22 19:45:00  0.226377  0.150168 -1.698523  5  3.5       14  0.998135
2021-11-22 20:45:00  0.977604  0.931535  1.132052  5  4.0       16  0.997564
2021-11-22 21:45:00  0.885412 -0.397513 -0.953911  5  4.5       18  0.996917

In [53]:
df.apply(lambda x: x.max() - x.min())

A           2.640366
B           2.118250
C           4.213226
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [54]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2021-11-22 12:45:00    0.841513
2021-11-22 13:45:00   -0.394692
2021-11-22 14:45:00   -0.403781
2021-11-22 15:45:00   -0.626304
2021-11-22 16:45:00   -0.604540
2021-11-22 17:45:00    0.235535
2021-11-22 18:45:00    1.261384
2021-11-22 19:45:00    0.376545
2021-11-22 20:45:00    1.909139
2021-11-22 21:45:00    0.487899
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [56]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/data/data_000637.txt"
data=pd.read_csv(file_name)
data

--2021-11-22 13:54:36--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
Resolving www.dropbox.com (www.dropbox.com)... 162.125.69.18
Connecting to www.dropbox.com (www.dropbox.com)|162.125.69.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/xvjzaxzz3ysphme/data_000637.txt [following]
--2021-11-22 13:54:36--  https://www.dropbox.com/s/raw/xvjzaxzz3ysphme/data_000637.txt
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc2adf6b9ceedf0fa0c9ff676319.dl.dropboxusercontent.com/cd/0/inline/BafnTSG5W2sc4-BUZxgbEtNCng4tKtVdaOfmi55Fr_LzSXkv_AhF3k7_TaebakjsCzD01KTOtTDFA61R-PgxskOEG2tGlf4A1gktyB-K4_MpDYBO7p4H9R3TZQYlSXkEh6W7zs68QNFs89z2xB4h8t6-/file# [following]
--2021-11-22 13:54:37--  https://uc2adf6b9ceedf0fa0c9ff676319.dl.dropboxusercontent.com/cd/0/inline/BafnTSG5W2sc4-BUZxgbEtNCng4tKtVdaOfmi55Fr_LzSXkv_AhF3k7_TaebakjsCzD01KTOtTDFA61R-PgxskOEG2tGlf4A1gktyB-K4_MpDYBO7p4H9R3TZQYlSXkEh6W7zs68QNFs89z2xB4h8t6-/file
Resolving uc2adf6b9ceedf0fa0c9ff676319.dl.dropboxusercontent.com (uc2adf6b9ceedf0fa0c9ff676319.dl.dropboxusercontent.com)... 162.125.69.15
Connecting to uc2adf6b9ceedf0fa0c9ff676319.dl.dropboxusercontent.com (uc2adf6b9ceedf0fa0c9ff676319.dl.dropboxusercontent.com)|162.125.69.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33179236 (32M) [text/plain]
Saving to: â€˜/Users/mariam/data/data_000637.txtâ€™

data_000637.txt     100%[===================>]  31,64M  10,2MB/s    in 3,1s

2021-11-22 13:54:40 (10,2 MB/s) - â€˜/Users/mariam/data/data_000637.txtâ€™ saved [33179236/33179236]

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           1     0          123  3869200167        2374        26
1           1     0          124  3869200167        2374        27
2           1     0           63  3869200167        2553        28
3           1     0           64  3869200167        2558        19
4           1     0           64  3869200167        2760        25
...       ...   ...          ...         ...         ...       ...
1310715     1     0           62  3869211171         762        14
1310716     1     1            4  3869211171         763        11
1310717     1     0           64  3869211171         764         0
1310718     1     0          139  3869211171         769         0
1310719     1     0           61  3869211171         762        18

[1310720 rows x 6 columns]

Let's now do some operations among (elements of) columns

In [57]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [58]:
data['timens']

0          59371.666667
1          59372.500000
2          63848.333333
3          63965.833333
4          69020.833333
               ...
1310715    19061.666667
1310716    19084.166667
1310717    19100.000000
1310718    19225.000000
1310719    19065.000000
Name: timens, Length: 1310720, dtype: float64

In [60]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

KeyboardInterrupt:

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [61]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

          0         1         2         3
0 -1.342096  0.805390 -1.704324  1.030453
1 -0.315263 -1.034355 -1.794185  0.886306
2 -0.265800  0.208467  0.577773  1.382751
3  0.730397  3.279843  0.654677 -0.169470
4 -0.441145 -1.381760  1.508638  1.720810
5  0.122652  0.279120  0.231665 -1.645563
6 -0.774676  1.998257  0.390853  0.397025
7 -1.294891 -0.641965 -0.530525  0.346469
8  0.441062 -0.683938  0.836142  1.638187
9 -0.038157 -0.466004 -0.566766  1.687525

In [62]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

[          0         1         2         3
 0 -1.342096  0.805390 -1.704324  1.030453
 1 -0.315263 -1.034355 -1.794185  0.886306
 2 -0.265800  0.208467  0.577773  1.382751,
           0         1         2         3
 3  0.730397  3.279843  0.654677 -0.169470
 4 -0.441145 -1.381760  1.508638  1.720810
 5  0.122652  0.279120  0.231665 -1.645563
 6 -0.774676  1.998257  0.390853  0.397025,
           0         1         2         3
 7 -1.294891 -0.641965 -0.530525  0.346469
 8  0.441062 -0.683938  0.836142  1.638187
 9 -0.038157 -0.466004 -0.566766  1.687525]

In [63]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

          0         1         2         3
0 -1.342096  0.805390 -1.704324  1.030453
1 -0.315263 -1.034355 -1.794185  0.886306
2 -0.265800  0.208467  0.577773  1.382751
3  0.730397  3.279843  0.654677 -0.169470
4 -0.441145 -1.381760  1.508638  1.720810
5  0.122652  0.279120  0.231665 -1.645563
6 -0.774676  1.998257  0.390853  0.397025
7 -1.294891 -0.641965 -0.530525  0.346469
8  0.441062 -0.683938  0.836142  1.638187
9 -0.038157 -0.466004 -0.566766  1.687525

In [64]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

          0         1         2         3
0 -1.342096  0.805390 -1.704324  1.030453
1 -0.315263 -1.034355 -1.794185  0.886306
2 -0.265800  0.208467  0.577773  1.382751
3  0.730397  3.279843  0.654677 -0.169470
4 -0.441145 -1.381760  1.508638  1.720810
5  0.122652  0.279120  0.231665 -1.645563
6 -0.774676  1.998257  0.390853  0.397025
7 -1.294891 -0.641965 -0.530525  0.346469
8  0.441062 -0.683938  0.836142  1.638187
9 -0.038157 -0.466004 -0.566766  1.687525

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [65]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
print(left)
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
print(right)
pd.merge(left,right,on="key")

   key  lval
0  foo     1
1  bar     2
   key  rval
0  foo     4
1  bar     5

   key  lval  rval
0  foo     1     4
1  bar     2     5

## Grouping

By â€œgroup byâ€ we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [66]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

     A      B         C         D
0  foo    one  1.023350  0.364929
1  bar    one -0.531206 -1.059024
2  foo    two  0.023706 -0.592037
3  bar  three -0.435270  0.453134
4  foo    two -0.414314  0.724263
5  bar    two  0.904014 -0.409644
6  foo    one -1.337723 -1.720971
7  foo  three -0.460029 -0.986052

In [67]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

            C         D
A
bar -0.062462 -1.015533
foo -1.165011 -2.209868

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [68]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

first  second
bar    one       0.786823
       two      -0.583689
baz    one       0.491489
       two      -2.360318
foo    one      -0.238784
       two      -1.144640
qux    one      -1.463155
       two       0.321001
dtype: float64

In [69]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.531206 -1.059024
    three -0.435270  0.453134
    two    0.904014 -0.409644
foo one   -0.314374 -1.356042
    three -0.460029 -0.986052
    two   -0.390609  0.132226

In [70]:
# stack() method â€œcompressesâ€ a level in the DataFrameâ€™s columns
gdf.groupby(['A','B']).sum().stack()

A    B
bar  one    C   -0.531206
            D   -1.059024
     three  C   -0.435270
            D    0.453134
     two    C    0.904014
            D   -0.409644
foo  one    C   -0.314374
            D   -1.356042
     three  C   -0.460029
            D   -0.986052
     two    C   -0.390609
            D    0.132226
dtype: float64

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
pdf = pdf.cumsum()
plt.figure(); pdf.plot(); plt.legend(loc='best')