1:

In [119]:
#1.a
l=[]
for i in range(1,101):
    x=0
    if i%15 == 0: x= "MickeyMouse"
    elif i%3 == 0: x= "Mickey"
    elif i%5 == 0: x= "Mouse"
    else: x=i
    
    print(x)
    l.append(x)

#1.b (now with the list obtained before we do the replacement)
a=["Donald" if x=="Mickey" else x for x in l] #first we replace mickey with donald
a=["Duck" if x=="Mouse" else x for x in a] #then we replace mouse with duck

print("Replaced list is:", a)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
Replaced list is: [1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2:

In [110]:
x= input("enter a value for x:")
y= input("enter a value for y:")
print("\n")

def Swap1(x,y):  #function with temporary variable
    temp=y
    y=x
    x=temp
    print("x is {} and y is {}\n".format(x,y))
    
def Swap2(x,y): print("x is {} and y is {}\n".format(y,x)) #Without temp paramter

Swap1(x,y)
Swap2(x,y)

enter a value for x:2
enter a value for y:5


x is 5 and y is 2

x is 5 and y is 2

3:

In [111]:
import numpy as np

def Distance(u,v): return np.sqrt((u[0] - v[0])**2 + (u[1] - v[1])**2)

u, v =[3,0], [0,4]
Distance(u,v)

5.0

4:

In [112]:
first_sentence = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

lower_first_sentence= first_sentence.lower()   #ignoring the capitalization
char=[x for x in lower_first_sentence]         #first we charactrize the whole sentence

counter, W =[0 for x in char], []                #then we make a counter for each letter in the above list

for i in range(len(char)):               #we first fix an element 
    for j in range(len(char)):                                             #then search for its similar items in the list
        if char[j]==char[i]: counter[i]+= 1                       #checking if there is a repeated element
    if [char[i], counter[i]] not in W: W.append([char[i], counter[i]])     #deleting the repeated items
        
print(W)

[['w', 2], ['r', 17], ['i', 14], ['t', 19], ['e', 22], [' ', 41], ['a', 7], ['p', 8], ['o', 13], ['g', 1], ['m', 12], ['h', 9], ['n', 10], ['s', 9], ['u', 9], ['b', 5], ['f', 10], ['1', 2], ['0', 2], ['.', 2], ['l', 6], ['c', 3], ['k', 2], ['y', 2], ['d', 3], ['v', 2]]

5:

In [113]:
def Unique(l):
    
    unique_num=[]
    for i in range(len(l)): #first we fix a number, then check to see whether it is repeated or not 
        temp=l[i]           #fixed number
        counter,c = 0,0     
        for j in range(len(l)): #here we check if the fixed number is repeated or not
            if l[j]==temp: counter=counter + 1
            if counter>1: break       #if the number is not unique we overlook it
            elif j==(len(l)-1): c=1   #but if unique we mark it with the help of c parameter
        if c==1: 
            unique_num.append(temp)    #now we append the unique number to the list
            
    print("There is {} unique numbers in the list which are listed as:".format(len(unique_num)), unique_num)
    
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

Unique(l)

There is 37 unique numbers in the list which are listed as: [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

6:

In [114]:
def sq(x): return x**2
def qb(x): return x**3
def Sixth(x): return sq(qb(x))
    
Sixth(2)

64

7.a:

In [115]:
cube=[]
for i in range(11): cube.append(i**3)
print(cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

7.b:

In [116]:
cubed=[i**3 for i in range(11)]
print(cubed)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8:

In [117]:
import numpy as np

W=[[a,b,int(np.sqrt(a**2 + b**2))] for a in range(1,100) for b in range(1,100) if np.sqrt(a**2 + b**2) in [i for i in range(1,100)]]

print(W)

[[3, 4, 5], [4, 3, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 6, 10], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 5, 13], [12, 9, 15], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 8, 17], [15, 20, 25], [15, 36, 39], [16, 12, 20], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 15, 25], [20, 21, 29], [20, 48, 52], [21, 20, 29], [21, 28, 35], [21, 72, 75], [24, 7, 25], [24, 10, 26], [24, 18, 30], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 21, 35], [28, 45, 53], [30, 16, 34], [30, 40, 50], [30, 72, 78], [32, 24, 40], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 12, 37], [35, 84, 91], [36, 15, 39], [36, 27, 45], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 9, 41], [40, 30, 50], [40, 42, 58], [40, 75, 85], [42, 40, 58], [42, 56, 70], [44, 33, 55], [45, 24, 51], [45, 28, 53], [45, 60, 75], [48, 14, 50], [48, 20, 52], [48, 36, 60], [48, 55, 73], [48, 64, 80], [51, 68, 85], [52, 39, 65], [54, 72, 90], [55, 48, 73], [56, 33, 65], [56, 42, 70], [57, 76, 95], [60, 11, 61], [60, 25, 65], [60, 32, 68], [60, 45, 75], [60, 63, 87], [63, 16, 65], [63, 60, 87], [64, 48, 80], [65, 72, 97], [68, 51, 85], [70, 24, 74], [72, 21, 75], [72, 30, 78], [72, 54, 90], [72, 65, 97], [75, 40, 85], [76, 57, 95], [77, 36, 85], [80, 18, 82], [80, 39, 89], [84, 13, 85], [84, 35, 91]]

9:

In [118]:
a=(3,2)

def norm(a): return (a[0]/(a[1] + a[0]) , a[1]/(a[0] + a[1])) 

print("the normalized values for x and y is:", norm(a))

the normalized values for x and y is: (0.6, 0.4)