1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [3]:
#a

for i in range (1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("MickeyMouse")
    elif i % 3 == 0:
        print ("Mickey")
    elif i % 5 == 0:
        print("Mouse")  
    else:
        print(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [5]:
#b
result = ()
for i in range (1, 101):
    if i % 3 == 0 and i % 5 == 0:
        result = result + ("MickeyMouse", )
    elif i % 3 == 0:
        result = result + ("Mickey", )
    elif i % 5 == 0:
        result = result + ("Mouse", )
    else:
        result = result + (i, )

In [6]:
print (result)

(1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse')

In [9]:
result = list(result)
for j in range(len(result)):
    if result[j] == "Mickey":
        result[j] = "Donald"
    elif result[j] == "Mouse":
        result[j] = "Duck"
    

result = tuple(result)      
print(result)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [27]:
#2 swap funtion 
nums = [6, 3, 2, 4, 5, 1]

def swap(nums, x,  y):
    temp = nums[x]
    nums[x] = nums[y]
    nums[y] = temp
swap(nums, 0,4)
print(nums)

[5, 3, 2, 4, 6, 1]

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [31]:
import math
def distance(u, v):
    x1 = u[0]
    x2 = u[1]
    y1 = v[0]
    y2 = v[1]
    d = math.sqrt((x1 - x2)**2 + (y1 - y2)**2)
    
    return d 


distance(u=(3,0), v=(0,4))

5.0

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [33]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [42]:
for i in s:
    char = s.count(i)
    print(i, ":", char)
    #still need to be work on

W : 1
r : 17
i : 14
t : 19
e : 22
  : 41
a : 7
  : 41
p : 8
r : 17
o : 13
g : 1
r : 17
a : 7
m : 8
  : 41
t : 19
h : 9
a : 7
t : 19
  : 41
p : 8
r : 17
i : 14
n : 10
t : 19
s : 9
  : 41
t : 19
h : 9
e : 22
  : 41
n : 10
u : 9
m : 8
b : 4
e : 22
r : 17
s : 9
  : 41
f : 9
r : 17
o : 13
m : 8
  : 41
1 : 2
  : 41
t : 19
o : 13
  : 41
1 : 2
0 : 2
0 : 2
. : 2
  : 41
B : 1
u : 9
t : 19
  : 41
f : 9
o : 13
r : 17
  : 41
m : 8
u : 9
l : 6
t : 19
i : 14
p : 8
l : 6
e : 22
s : 9
  : 41
o : 13
f : 9
  : 41
t : 19
h : 9
r : 17
e : 22
e : 22
  : 41
p : 8
r : 17
i : 14
n : 10
t : 19
  : 41
M : 4
i : 14
c : 3
k : 2
e : 22
y : 2
  : 41
i : 14
n : 10
s : 9
t : 19
e : 22
a : 7
d : 3
  : 41
o : 13
f : 9
  : 41
t : 19
h : 9
e : 22
  : 41
n : 10
u : 9
m : 8
b : 4
e : 22
r : 17
  : 41
a : 7
n : 10
d : 3
  : 41
f : 9
o : 13
r : 17
  : 41
t : 19
h : 9
e : 22
  : 41
m : 8
u : 9
l : 6
t : 19
i : 14
p : 8
l : 6
e : 22
s : 9
  : 41
o : 13
f : 9
  : 41
f : 9
i : 14
v : 2
e : 22
  : 41
p : 8
r : 17
i : 14
n : 10
t : 19
  : 41
M : 4
o : 13
u : 9
s : 9
e : 22
. : 2
  : 41
F : 1
o : 13
r : 17
  : 41
n : 10
u : 9
m : 8
b : 4
e : 22
r : 17
s : 9
  : 41
w : 1
h : 9
i : 14
c : 3
h : 9
  : 41
a : 7
r : 17
e : 22
  : 41
m : 8
u : 9
l : 6
t : 19
i : 14
p : 8
l : 6
e : 22
s : 9
  : 41
o : 13
f : 9
  : 41
b : 4
o : 13
t : 19
h : 9
  : 41
t : 19
h : 9
r : 17
e : 22
e : 22
  : 41
a : 7
n : 10
d : 3
  : 41
f : 9
i : 14
v : 2
e : 22
  : 41
p : 8
r : 17
i : 14
n : 10
t : 19
  : 41
M : 4
i : 14
c : 3
k : 2
e : 22
y : 2
M : 4
o : 13
u : 9
s : 9
e : 22

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [43]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [46]:
def unique_num(x):
    for i in x:
        new_list = x.count(i)
        if new_list == 1:
            print (i, "unique")
            
            
new_list=unique_num(l)
print(new_list)

58 unique
74 unique
96 unique
64 unique
10 unique
24 unique
19 unique
33 unique
86 unique
99 unique
18 unique
47 unique
88 unique
55 unique
54 unique
8 unique
79 unique
81 unique
57 unique
37 unique
1 unique
9 unique
95 unique
90 unique
98 unique
39 unique
16 unique
82 unique
92 unique
41 unique
30 unique
94 unique
5 unique
72 unique
87 unique
75 unique
53 unique
None

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [11]:
#6
#The square of a number 
def fun_1(x):
    square_num = x ** 2
    
    return square_num

# The cube of a number 
def fun_2(x):
    cube_num = x**3
    
    return cube_num


#the 6th power of a number
def fun_3(x):
    power_6th = x * fun_1(x) * fun_2(x)
    
    return power_6th 


square_num = fun_1(4)
print("The Square is:", square_num)
cube_num = fun_2(4)
print("The cube is:",cube_num)
result  = fun_3(4)
print("The 6th power is:",result)

The Square is: 16
The cube is: 64
The 6th power is: 4096

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [10]:
#7a
list = []
for i in range(0, 10):
    x = i ** 3
    list.append(x)
    
print(list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [9]:
#b
list_1 = [x**3 for x in range(0, 10)]
print (list_1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [46]:
#8
nested_list = [(a,b,c) for a in range(100) for b in range(a) for c in range(b) if a**2 == b**2 + c**2]
nested_tuple = tuple(nested_list)
print(nested_tuple)

((5, 4, 3), (10, 8, 6), (13, 12, 5), (15, 12, 9), (17, 15, 8), (20, 16, 12), (25, 20, 15), (25, 24, 7), (26, 24, 10), (29, 21, 20), (30, 24, 18), (34, 30, 16), (35, 28, 21), (37, 35, 12), (39, 36, 15), (40, 32, 24), (41, 40, 9), (45, 36, 27), (50, 40, 30), (50, 48, 14), (51, 45, 24), (52, 48, 20), (53, 45, 28), (55, 44, 33), (58, 42, 40), (60, 48, 36), (61, 60, 11), (65, 52, 39), (65, 56, 33), (65, 60, 25), (65, 63, 16), (68, 60, 32), (70, 56, 42), (73, 55, 48), (74, 70, 24), (75, 60, 45), (75, 72, 21), (78, 72, 30), (80, 64, 48), (82, 80, 18), (85, 68, 51), (85, 75, 40), (85, 77, 36), (85, 84, 13), (87, 63, 60), (89, 80, 39), (90, 72, 54), (91, 84, 35), (95, 76, 57), (97, 72, 65))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [45]:
# 9. normalization 

def fun_tuple(x):
    x = list(x)
    a_min = min(x)
    a_max = max(x)
    
    for a in range(len(x)):
        a_norm = (a - a_min) / (a_max - a_min)
        x[a] = a_norm
        
    x=tuple(x)
    
    return x
          
        
list_norm = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)      
print(fun_tuple(list(list_norm)))

(0.0, 0.1111111111111111, 0.2222222222222222, 0.3333333333333333, 0.4444444444444444, 0.5555555555555556, 0.6666666666666666, 0.7777777777777778, 0.8888888888888888, 1.0)